version: '3.8'
services:
    gohttpd:
        image: nolim1t/golang-httpd-test:master-505a154
        container_name: gohttpd
        network_mode: host
        restart: on-failure
        volumes:
            - "${HOME}/.lncm:/data/.lncm"
