version: '3.8'
services:
    gohttpd:
        image: nolim1t/golang-httpd-test:0.0.2
        container_name: gohttpd
        network_mode: host
        restart: on-failure
        environment:
            GIN_MODE: "release"
        volumes:
            - "${HOME}/.lncm:/data/.lncm"
